.top {
    display: flex;
}
.youbian ul {
    display: flex;
    white-space: nowrap;
}
.zhongjian {
    display: flex;
    align-items: center;
}
.youbian {
    display: flex;
    align-items: center;
}
.top2 {
    background-color: rgb(59, 153, 252);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    /* padding: 0px auto; */
}
.top2z {
    border: 3px solid red;
    width: 700px;
    height: 40px;
    margin: 0px auto;
    line-height: 40px;
}
.top2 ul{
    display: flex;
    margin: 0px;
    padding: 0px;
    /* 自带页边距可还行 */
}
/* .top2 li{
    padding: 0px 100px;
    height: 40px;
} */
.top2 li {
    width: 140px;
    height: 40px;
    /* border: 3px solid black; */
    text-align: center;
}
.xx {
    display: grid;
    width: 500px;
    height: 300px;
    grid:
    'd1 d4 d4'
    'd2 d4 d4'
    'd3 d4 d4';
    /* align-items: center; */
}
.d1 {
    grid-area: d1;
    border-left: 3px solid rgb(59, 153, 252);
    text-align: center;
    background-color: white;
    line-height: 90px;
    /* grid的行高互相影响,要设就得一起 */
}
.d2 {
    grid-area: d2;
    background-color: rgb(59, 153, 252);
    text-align: center;
    line-height: 90px;
}
.d2 a{
    color: white;
}
.d3 {
    grid-area: d3;
    background-color: rgb(59, 153, 252);
    border-top: 1px solid white;
    text-align: center;
    line-height: 90px;
}
.d3 a{
    color: white;
}
.d4 {
    grid-area: d4;
    padding: 8px 25px 0px 25px;
    background-color: white;
}
.xxtop {
    display: flex;
    padding: 0px;
    height: 36px;
}
.xxtop li {
    height: 36px;
    width: 80px;
    text-align: center;
    line-height: 34px;
    border-bottom: 2px solid rgb(222, 222, 222);
}
.xxtop li:nth-child(1) {
    border-bottom: 2px solid rgb(59, 153, 252);
}
.xxzj {
    display: flex;
}
.xxzj li {
    margin-right: 60px;
}
.xxxm {
    text-align: center;
    background-color: rgb(255, 128, 0);
    height: 30px;
    line-height: 30px;
    border-radius: 8px;
}
.xxxm a {
    color: white;
}
.z {
    margin: 25px;
}
.xxtz {
    width: 100%;
    height: 400px;
    background-color: cadetblue;
    padding: 120px 00px 0px 50px;
}
.qiehuan {
    /* border: 3px solid black; */
    margin-top: 60px;
}
.qiehuan ul {
    display: flex;
    margin: 0px;
    padding: 0px 520px;
    /* 可以用padding来居中但是ul只自动表述左边 */
}
.qiehuan li {
    border: 2px solid rgba(172,172,191,0.5);
    width: 10px;
    height:10px;
    border-radius: 100%;
    background-color: rgba(172,172,191,0.5);
    margin-left: 20px;
}
.qiehuan li:nth-child(1) {
    border: 2px solid white;
    background-color: white;
}